body {
    background-color: #0f9E99;
    color: #000;


    /* height: 100vh; */
}

nav {
    background: linear-gradient(green, rgb(40, 37, 37));

}

.imgcontainer {
    max-width: 1400px;
    height: auto;

    column-count: 3;
}

.imgbox {
    width: 400px;
    height: 400px;
    position: relative;

}

.imgbox .img {
    width: 100%;
    height: 100%;
}

.imgbox.show {
    width: 1000px;
    height: 1000px;


    z-index: 10;

    position: absolute;
    left: 10%;
    top: 70%;





}

button.btn-close {
    width: 30px;
    height: 30px;
    color: #000;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;

    position: absolute;
    right: 20px;
    top: 20px;

    z-index: 10;

    transform: translateX(30px);

    /* display: none; */
}

button.btn-close:focus,
button.btn-close:hover {
    outline: none;
    border: 2px solid red;
}

.price {
    font-size: 2rem;
    position: absolute;
    left: 35%;
    bottom: -30px;

    z-index: 10;

    /* display: none; */

}

/* contact container */
.concontainer {
    width: 430px;
    height: 300px;
    background-color: rgb(120, 21, 21);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    transform: translateY(50%);

    /* display: none; */




}

.contactbox {
    font-weight: 400;
    font-size: 2rem;
    color: #f6f6f6;
}

.button {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 20px;



}




@media(max-width:450px) {

    body {
        background-color: #0f9E99;
    }


    nav {
        width: 100%;
        height: 80px;
        background: linear-gradient(#156563, #5f9db8);
        padding: -5px 0;
        margin-bottom: 20px;

        display: inline-block;




    }

    ul {
        float: left;
        width: 100%;
        height: 40px;
        background-color: rgb(139, 96, 16);
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: center;


        padding: 0;
        margin-bottom: 40px;

        position: absolute;
        top: 78px;

    }

    ul li {
        float: left;

        margin: 20%;
        padding: 5px;

    }









    .title {
        color: white;
        font-size: 1.2rem;
        font-weight: none;
        margin-right: 50px;
    }

    ul li a {

        margin-right: 20px;
        font-size: 1rem;
        color: #ffffff;
        text-decoration: none;
        opacity: 1;
    }



    .loti {
        cursor: pointer;
        color: #f2f2f2;
    }

    .content {
        width: 400px;
        height: 200px;
        color: white;

        /* background-color: #f9f9f9; */
        font-size: 1rem;
        text-align: justify;
        line-height: 200%;
        margin-top: 40px;


    }



    .imgcontainer {
        /* background-color: #ffffff; */
        width: 100%;
        margin-top: 100%;



        display: grid;
        grid-template-columns: 132px;
        grid-template-columns: 132px 132px;
        grid-template-columns: 132px 132px 132px;

        grid-column-gap: 10px;
        grid-row-gap: 10px;






        /* column-count: 3; */


        position: relative;
    }

    .imgcontainer p {
        width: 100px;
        height: 50px;

        background-color: blue;
    }




    .imgbox {
        width: 120px;
        height: 120px;


        /* margin-left: 10px;
        

        margin-bottom: 10px; */
        margin: 20px 10px;






        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        opacity: 0.9;
        /* position: relative; */

        transition: all .3s ease;



        /* display: none; */
    }

    .imgcontainer img {
        border: 2px solid #ffffff;
        box-shadow: -2px 2px 10px gray;
    }


    .imgbox.show {
        width: 250px;
        height: 250px;
        /* box-shadow: 5px 10px 30px #000; */

        /* display: block; */
        z-index: 10;
        opacity: 1;

        position: absolute;
        left: 60px;
        top: 30%;







    }

    .imgbox .img {
        width: 100%;
        height: 130%;

        object-fit: cover;
    }

    .excel img,
    .excel p {

        margin-top: 10px;
        font-size: 1.2rem;
        color: #ffffff;
    }



    button.btn-close {
        width: 20px;
        height: 20px;
        color: #000;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #000;

        position: absolute;
        right: 20px;
        top: 20px;

        z-index: 10;

        transform: translateX(30px);

        display: none;
    }

    button.btn-close:focus,
    button.btn-close:hover {
        outline: none;
        border: 2px solid red;
    }

    .imgbox.show .btn-close,
    .imgbox.show .price {

        display: block;
    }

    /* .price {
        font-size: 2rem;
        position: absolute;
        left: 35%;
        bottom: -30px;

        z-index: 10;

        display: none;

    } */

    .imgbox.show>* {

        transform: translate(0);
    }



    /* contact container */
    .concontainer {
        width: 300px;
        height: 300px;
        background-color: rgb(16, 33, 110);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        padding: 50px 0;

        position: absolute;
        right: -50px;

        transform: translateY(60%);

        /* display: none; */




    }

    .contactbox {
        font-weight: 400;
        font-size: 1.5rem;
        color: #f6f6f6;
    }

    .button {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        padding: 10px 0;
        margin-bottom: 10px;
        border-radius: 20px;



    }

    footer {
        width: inherit;
        height: 50px;
        background-color: rgb(77, 140, 162);

        display: flex;
        justify-content: center;
        align-items: center;



        margin-top: 20px;

    }

    footer p {
        color: #124357;
        font-size: 1rem;
        font-weight: 500;
        /* padding: 30px 0; */




    }

    #line {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-top: 25px;
    }



}